@media only screen and (min-width: 767px) {
  body {
    overflow: hidden;
  }
  .left {
    padding-top: 120px;
    padding-right: 120px;
    padding-left: 120px;
  }
  .right {
    padding: 150px 100px;
  }
}

@media only screen and (max-width: 767px) {
  body {
    overflow: scroll;
  }
  .left {
    padding-top: 50px;
    padding-right: 80px;
    padding-left: 80px;
  }
  .right {
    padding-top: 50px;
    padding-right: 30px;
    padding-left: 30px;
  }
}

.card-img-overlay {
    transform: translateY(0);
    background-color: rgba(0, 0, 0, 0.4);
  }
  .card-img-overlay .card-text {
    opacity: 1;
    transform: translateX(0);
  }
  .card-img-overlay .btn {
    opacity: 1;
    transform: translateX(0);
  }
  
  .right .card {
    overflow: hidden;
    background-color: #2f3545;
    width: 300px;
    height: 300px;
  }
  .card .card-img {
    mix-blend-mode: overlay;
  }

  .card img {
    height: 100%;
    width: 100%;
  }

  .left .card {
    overflow: hidden;
    background-color: #2f3545;
    width: 200px;
    height: 200px;
    font-size: 80%;
  }
